 .product
{
    display: flex;
    flex-direction: column; /*If removed, title, price, img, button side-by-side is displayed*/
    align-items: center; 
    /*All items aligned to center.Thus button size also reduced.*/
    justify-content: flex-end; 
    /*explore this*/
    background-color: white;
    
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 350px;
    min-width: 100px; 
    /*Due to this, product is shifted to left frm center.Container is taking whole segment i.e. like yt search channel.Uncomment border to see*/
    /* border: 5px solid; */
    z-index: 1; 
}
.product_info
{
    width: 100%; /*To align text of product like title,price ,rating to left*/
    height: 100px;
    margin-bottom: 15px;
}
.product > img
{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button
{
    background : #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product_price
{
    margin-top: 5px;
}
 











/* -----------my code */
/* 


.product
{
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;     


}

.product_img
{
    object-fit: contain;
    max-width: 151px;
    max-height: 250px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.product_rating
{
    display: flex;
    flex-direction: row;
} */